body {
    background-color:#F2F2F2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em;
    max-width: 100%;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.logo {
    height: auto;
    max-width: 10%;
    object-fit: cover;
    float: right;
    margin-right: 20pxpx;
    margin-top: 20px;
    overflow: hidden;
}

nav {
    background: #D9D0C7;
    height: 80px;
    max-width: 100%;
}


nav ul {
    float: left;
    /* margin-left: 20px; dit erbij of niet? */
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-left: 20px;
}

nav ul li a {
    color: black;
    font-size: 17px;
    border-radius: 3px;
}

a:hover, a:active {
    background: white;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    float: left;
    line-height: 80px;
    margin-left: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:952px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F2F2F2;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover, a:active{
        background: none;
        color: #808080;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

/* waar main begint */

p {
    padding-top: 5px;
    padding-bottom: 5px;
}

.bgboom {
    background-color: #F2F2F2;
    background-image: url(img/groeneboom.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.location {
    width: 100%;
    height: 400px;
}

.selectie-producten {
    background-color: #F2E2DC;
    padding: 200px 200px 20px 20px;
}

.container-logo img {
    max-width: 10%
}